<!doctype html>
<html class="no-js" lang="en">
<head>
  @@include('../partials/standard-head.html')
  @@include('../partials/warning.html')
</head>
<body>
@@include('../partials/browsehappy.html')
@@include('../partials/javascript.html')
@@include('../partials/header.html')

<section class="l-wrap">
  <article class="c-info">
    <h2 class="c-info__title">Headings</h2>
    <div   class="c-info__content">
      <h1>Heading 1
        <small>Sub-heading</small>
      </h1>
      <h2>Heading 2
        <small>Sub-heading</small>
      </h2>
      <h3>Heading 3
        <small>Sub-heading</small>
      </h3>
      <h4>Heading 4
        <small>Sub-heading</small>
      </h4>
      <h5>Heading 5
        <small>Sub-heading</small>
      </h5>
      <h6>Heading 6
        <small>Sub-heading</small>
      </h6>
    </div>
  </article>
  <img src="resources/images/images.jpg"></section>
  <article class="c-info">
    <h2 class="c-info__title">Headings</h2>
    <div class="c-info__content c-info__btn">
      <button type="button" class="c-button">Default</button>
      <button type="button" class="c-button--primary">Primary</button>
      <button type="button" class="c-button--success">Success</button>
      <button type="button" class="c-button--info">Info</button>
      <button type="button" class="c-button--warning">Warning</button>
      <button type="button" class="c-button--danger">Danger</button>
    </div>
  </article>

</section>
<!-- build:js scripts/main.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->

<!-- build:js scripts/vendor.js -->
  <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<!-- endbuild -->
</body>
</html>
