<meta charset="UTF-8">
<title>SPVanilla</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<!-- build:css styles/main.css -->
<link rel="stylesheet" media="all" href="styles/main.css">
<!-- endbuild -->

<!-- build:css styles/vendor.css -->
<link rel="stylesheet" media="all" href="../../bower_components/bootstrap/dist/css/bootstrap-theme.css">
<link rel="stylesheet" media="all" href="../../node_modules/normalize.css/normalize.css">
<!-- endbuild -->



